<%- include('partials/header') %>
      <h1><%= books.title %></h1>
      <p><%= books.author %></p>
      <p><%= books.rDate %></p>
      <p><%= books.rating %></p>
      <p><%= books.genre %></p>
      <p><%= books.description %> </p>
  </section>

<%- include('partials/footer') %>