<%- include('partials/header') %> 
    <header>
      <h1 class="text-center">Book Inventory Home Page</h1>
      <p class="welcomeTxt">In this book inventory, you can store information about your book, edit or update book information, or delete book if you no longer need that book</p>
      <div class="tmb">
        <a href="/add" class="btn btn-lg btn-success">Add new book to inventory</a>
      </div>
    </header>
  </section>
    
  <section class="container">
    <main>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <% for( let book of booksDb ) { %>
          <div class="col">
            <div class="card">
              <img src="<%= book.poster %>" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text">Release Date : <%= book.rDate %></p>
                <p class="card-text">Description : <%= (book.description).slice(0, 99) %>...</p>
                <a href="/book/<%= book.id %>" class="btn btn-warning">View Details</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </main>
  </section>

<%- include('partials/footer') %> 